In [3]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [4]:
df = pd.read_csv("API_UGA_DS2_en_csv_v2_28828.csv")

In [10]:
df1 = pd.read_csv("API_UGA_DS2_en_csv_v2_28828.csv", usecols=list(range(2, 3)) + list(range(20, 27)))
df1 = df1.dropna()
df1 = df1.round(2)

In [11]:
#df2 = df1.T
#df2.describe()
#df2 = df1.iloc[:, [0]]
#df2.to_html('df2_output.html')

In [12]:
df1.to_html('df1_output.html')

In [8]:
n = len(df1.iloc[:, 0])
df1 = df1.reset_index(drop=True)
rows_to_drop = []

for el in range(0, n):
    if df1.iloc[el, 1] < df1.iloc[el, 2]:
        rows_to_drop.append(el)

# Usuń wiersze po zebraniu ich do listy
df1 = df1.drop(rows_to_drop)

In [9]:
n = len(df1.iloc[:, 0])
df1 = df1.reset_index(drop=True)
rows_to_drop = []

for el in range(0, n):
    if df1.iloc[el, 1] == df1.iloc[el, 2]:
        rows_to_drop.append(el)

# Usuń wiersze po zebraniu ich do listy
df1 = df1.drop(rows_to_drop)

In [235]:

df1.to_html('df1_output.html')

In [236]:
df1

,Indicator Name,1979,1980,1981,1982
0,Merchandise exports by the reporting economy (...,277656000.00,163020000.00,265342936.30,356370000.00
1,Merchandise imports from low- and middle-incom...,33.61,30.94,42.41,33.55
2,Merchandise imports from low- and middle-incom...,12.75,1.43,0.33,0.43
3,"Population ages 60-64, male (% of male populat...",1.85,1.83,1.80,1.78
4,"Population ages 50-54, male (% of male populat...",2.75,2.70,2.63,2.56
...,...,...,...,...,...
102,Carbon dioxide (CO2) emissions excluding LULUC...,0.06,0.05,0.04,0.04
103,Carbon dioxide (CO2) emissions from Industrial...,0.26,0.17,0.14,0.13
104,Methane (CH4) emissions (total) excluding LULU...,12.61,12.35,12.49,12.68
105,Cereal yield (kg per hectare),1613.70,1491.00,1561.70,1309.00
106,Crop production index (2014-2016 = 100),60.11,59.31,63.86,71.15